<center>
    <div class="alert alert-danger" role="alert">
     KUTUP AYILARI İÇİN HARİKA HEDİYELER
    </div>
    <div class="container">
        <img style="width:350px;height: 350px" src="~/images/Premium Vector _ Winter polar bear christmas gift illustration.jpg" />
    </div>
</center>

<div class="row row-cols-3 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-12-02 at 10.16.33-990b6972-c900-48b4-adfc-90ad09baca38.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kar Küresi</h5>
                <h6> Hediyelik Kar Küresi</h6>
                <p class="Kar Küresi"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" <img src="~/images/products/whatsapp image 2023-11-20 at 20.28.15 (1)-ed42e304-a3d8-425f-bcf0-dc95304e6a1c.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sticker</h5>
                   <h6>Eğlenceli Sticker</h6>
                <p class="Sticker"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-11-18 at 13.51.51 (2)-fe377f9b-ad17-48ea-abf0-358856788790.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Çorap</h5>
                <h6>Eğlenceli Çorap</h6>
                <p class="Çorap"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-11-18 at 13.51.32 (1)-3617be83-6e47-4386-baf8-3e7bd1af7013.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kupa</h5>
                <h6> Hediyelik Kupa</h6>
                <p class="Kupa"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-11-18 at 19.16.27 (3)-ef901ef2-1354-4a6c-8bc6-5dc24d6f6964.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Telefon Kılıfı</h5>
                <h6>Kutup Ayılarına Özel </h6>
                <p class="Telefon Kılıfı"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-11-15 at 20.56.30 (1)-14d944e1-ee26-4fc1-a85c-4b9527d3a9fd.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ajanda</h5>
                <h6>Mini Ajanda</h6>
                <p class="Ajanda"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-11-17 at 23.22.02 (1)-58de4462-9234-46bf-95de-b65d1c333517.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Çikolata</h5>
                <h6> Hediyelik El Yapımı Çikolata</h6>
                <p class="Çikolata"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>

            </div>
          
        </div>
    </div>

</div>

