
<div class="card text-center">
    <div class="card-header">
       SIK SORULAN SORULAR
    </div>
    <div class="card-body">
        <details>
            <summary>Gerçekten Iglo Mağazaları var mı?</summary>
            <p>Aslında yok ama neden olmasın.</p>
            <p>
              Bu sadece bir fikir olarak başladı ama  gerçeğede dönüşebilir.
            </p>
        </details>
        <br />
        <details>
            <summary>Gerçekten soğuk teslimat yapıyor musunuz?</summary>
            <p>Tabiki burası kutuplar.</p>
            <p>
                Teslimat  herzaman hızlı olmayabilir ama!!!
            </p>
        </details>
        <br />
        <details>
            <summary>Size nasıl ulaşabiliriz?</summary>
            <p>Ulaşamazsınız.</p>
            <p>
              Zamanı gelince biz size ulaşırız...
            </p>
        </details>
    </div>
    
</div>
