
<div class="row text-center">
    <div class="col-lg-8 offset-lg-2 m-t-20">
        <i class="fa fa-leaf fa-5x" aria-hidden="true"></i>
        <img src="~/images/giff.gif" />
        <h3>İlk siparişi bekliyoruz!</h3>
        <p>Henüz bir sipariş yok ama olur olmaz burada göstermeye başlanacak.</p>
        <a href="listproduct.php" class="btn btn-complete m-t-20" role="button">
        </a>
    </div>
</div>
<center>
    <div class="ms-3 me-3">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="btn btn-danger">Yönetim Paneli</a>
    </div>
</center>
