
<div class="card mb-3" style="max-width: 640px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/images/Free Vector _ Illustration scene with igloo on snow field.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Wow Magical Kuzey Mağaza</h5>
                <p class="card-text">Buralar soğuk ve ıssız buraya kadar gelmeyin web sitemizden alışveriş yapın.</p>
                <a asp-controller="Home" asp-action="Index">WowMagical</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 640px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/images/Pôle Nord De L'arctique_ Ours Blancs Et Pingouins Sur La Dérive Et La Fonte Des Glaciers Dans L'océan _ Vecteur Premium.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="">Wow Magical EN Kuzey Mağaza</h5>
                <p class="card-text">Buralar soğuk ve birazda tehlikeli buraya kadar gelmeyin web sitemizden alışveriş yapın</p>
                <a asp-controller="Home" asp-action="Index">WowMagical</a>
            </div>
        </div>
    </div>
</div>