
<h2 class="text-center">ALIŞVERİŞ SEPETİM</h2>
<center>
<div class="container">
    <img style="width:350px;height: 350px" src="~/images/20240121_132413_0000.png" />
    </div>
</center>
<br />
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">ÜRÜN ADI</h5>
                <p class="card-text"></p>
                <h4>Ürün adı</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">BİRİM FİYAT</h6>
                <p class="card-text"></p>
                <h4>0,00 TL</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">ADET</h5>
                <p class="card-text"></p>
                <h4>1</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">SEPET TOPLAM BAKİYE</h5>
                <p class="card-text"></p>
                <h4>0,00 TL</h4>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<p class="placeholder-glow">
    <span class="placeholder col-12"></span>
</p>

<br />
<br />
<center>

    <div class="ms-3 me-3">
        <a  asp-controller="Home" asp-action="Index" class="btn btn-danger">Alışverişe Devam Et</a>
    </div>
</center>
