

<div class="container mt-5 fw-bold" style="text-align:center; color:black">

    <img src="~/images/Lost in the snow stock vector_ Illustration of spiked - 2576849.jpg" />
    <h1 style="font-size:150px; margin-bottom:10px">404</h1>

    <p style="font-size:50px;">BURASI KUTUPLAR.</p>
    <p style="font-size:150%;">ÇOK GEZME EVİNE DÖN.</p>
    <p> GEL BEN SENİ GÖTÜREYİM BEN BURALARI İYİ BİLİYORUM <a asp-controller="home" asp-action="index">BURAYA</a>  tıklayabilirsin.</p>
</div>
<br />
<center>
    <audio controls autoplay>
        <source src="~/images/VID_403611203_034250_585.mp4">
    </audio>
</center>

