
<center>
    <img src="~/images/Adsız tasarım_20231215_120307_0000.png" style="height:600px" />
    <p>HENÜZ KARGOLANACAK ÜRÜN YOK</p>
    <p>OLURSADA ÇOK HIZLI BİR ŞEKİLDE KARGOLANACAK</p>
</center>
<center>
    <div class="ms-3 me-3">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="btn btn-danger">Yönetim Paneli</a>
    </div>
</center>
