<center>
    <div class="alert alert-danger" role="alert">
        SİNCAPLAR İÇİN HARİKA HEDİYELER
    </div>
<div class="container">
    <img style="width:350px;height: 350px" src="~/images/sincap icin.png" />
</div>
</center>
<br />
<div class="row row-cols-3 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-12-02 at 10.16.34 (1)-727d4582-c8ac-46a3-921d-6550cda0cac5.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Telefon Kılıfı</h5>
                <h6>Sincaplara Özel</h6>
                <p class="Telefon Kılıfı"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-11-18 at 19.16.27 (1)-855722f9-28f4-4cfe-a3b2-0367311c0fda.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Çorap</h5>
                <h6>Eğlenceli Çorap</h6>
                <p class="Çorap"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-12-02 at 10.26.37 (1)-36a95f19-33e7-459c-b2e9-49571b3f0d1b.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tote Bag</h5>
                <h6>Komik Desenli ToteBag</h6>
                <p class="Tote Bag"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-11-18 at 19.16.23 (2)-e1dc3341-3282-471e-9bcf-2d9a6917d09f.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kutlama Kartı</h5>
                <h6>Özel Günler İçin</h6>
                <p class="Kutlama Kartı"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-11-18 at 00.10.43 (6)-68cb13bb-b951-4bfe-8227-d6151485e899.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hediyelik Çay</h5>
                <h6>El Yapımı Hediyelik Çay Paketleri</h6>
                <p class="Hediyelik Çay"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-11-18 at 13.51.25-fb392466-8f00-4d57-9ae6-a7bc169b29fa.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ajanda</h5>
                <h6>Eğlenceli Ajanda</h6>
                <p class="Ajanda"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:350px;height: 350px" src="~/images/products/whatsapp image 2023-11-17 at 23.22.02 (1)-58de4462-9234-46bf-95de-b65d1c333517.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Çikolata</h5>
                <h6>Eğlenceli Hediyelik Çikolata</h6>
                <p class="Çikolata"></p>
                <a asp-controller="Basket" asp-action="Index" class="btn btn-danger">Satın Al</a>

            </div>
        </div>
    </div>

</div>








