
<center>
    
    <div align="center">
    <img  src="~/images/90+ Sled Dog Race Illustrations, Royalty-Free Vector Graphics & Clip Art.jpg" style="height:600px width:500px" />
        </div>
    
    <p>SATIN ALDIĞINIZ ÜRÜNLER  ÇOK HIZLI BİR ŞEKİLDE KARGOLANACAK</p>
    <p>ŞAKA YAPTIMMM</p>
    <p>KIZAKLA NEKADAR HIZLI OLABİLİRİZ Kİ !!</p>

</center>