<center>
    <div class="alert alert-danger" role="alert">
        İNDİRİMLİ ÜRÜNLER
    </div>
</center>
<br />
<div class="row row-cols-4 row-cols-md-4 g-3">
    <div class="col">
        <div class="card">
            <img style="width:263px;height: 300px" src="~/images/products/9a7c2ba0-aad0-4538-9296-b2c1b3e40e17.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kar Küresi</h5>
                <img style="width:67px;height: 60px" src="~/images/products/indir.jpg" />

                <p class="Kar Küresi"></p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-light">İndirimli Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:263px;height: 300px" src="~/images/products/whatsapp image 2023-11-18 at 19.16.27 (1)-855722f9-28f4-4cfe-a3b2-0367311c0fda.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Çorap</h5>
                <img style="width:67px;height: 60px" src="~/images/products/Fiverr Gigs (Discount 20%) - FiverrBox.jpg" />

                <p class="Çorap"></p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-light">İndirimli Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:263px;height: 300px" src="~/images/products/WhatsApp Image 2023-11-20 at 20.28.15-3a62d2cb-a1b9-4f2a-9b0b-5237864f8d6b.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sticker</h5>
                <img style="width:67px;height: 60px" src="~/images/products/Fiverr Gigs (Discount 20%) - FiverrBox.jpg" />

                <p class="Sticker"></p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-light">İndirimli Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:263px;height: 300px" src="~/images/products/whatsapp image 2023-11-18 at 19.16.23 (2)-e1dc3341-3282-471e-9bcf-2d9a6917d09f.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kutlama Kartı</h5>
                <img style="width:67px;height: 60px" src="~/images/products/Premium Photo _ 25 percent.jpg" />
                <p class="Kutlama Kartı"></p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-light">İndirimli Satın Al</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:263px;height: 300px" src="~/images/products/whatsapp image 2023-11-18 at 00.10.43 (6)-68cb13bb-b951-4bfe-8227-d6151485e899.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hediyelik Çay</h5>
                <img style="width:67px;height: 60px" src="~/images/products/Fiverr Gigs (Discount 20%) - FiverrBox.jpg" />

                <p class="Hediyelik Çay"></p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-light">İndirimli Satın Al</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:263px;height: 300px" src="~/images/products/whatsapp image 2023-11-18 at 13.51.25-fb392466-8f00-4d57-9ae6-a7bc169b29fa.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ajanda</h5>
                <img style="width:67px;height: 60px" src="~/images/products/Premium Photo _ 25 percent.jpg" />

                <p class="Ajanda"></p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-light">İndirimli Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:263px;height: 300px" src="~/images/products/WhatsApp Image 2023-12-02 at 10.16.34 (2)-0abccb6e-f7f3-4dbc-9ad8-e0342af80e17.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Telefon Kılıfı</h5>
                <img style="width:67px;height: 60px" src="~/images/products/Fiverr Gigs (Discount 20%) - FiverrBox.jpg" />

                <p class="Telefon Kılıfı"></p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-light">İndirimli Satın Al</a>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img style="width:263px;height: 300px" src="~/images/products/WhatsApp Image 2023-12-02 at 10.26.37 (2)-122a374d-96d0-45a8-acfa-33f01b7042a5.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tote Bag</h5>
                <img style="width:67px;height: 60px" src="~/images/products/indir.jpg" />

                <p class="Tote Bag"></p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-light">İndirimli Satın Al</a>

            </div>
        </div>
    </div>

</div>






