

<center>
    <img src="~/images/20231215_120725_0000.png" style="height:300px" />
    <p>BU SOĞUKTA İADE İLE UĞRAŞAMAM </p>
</center>

<center>
    <div class="ms-3 me-3">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="btn btn-danger">Yönetim Paneli</a>
    </div>
</center>


