


<ul>
    <li class="Filetisim">
        <span>İLETİŞİM</span>
        <ul>
            <li>
                <i class="fal fa-map-marker-alt"></i>
                <p>
                    Hikayede Kutup Ayısı olduğuna göre <br>
                    Kutuplarda bir yer  EN KUZEY /KUZEY KUTUPLAR
                </p>
            </li>
            <li>
                <i class="fal fa-phone"></i>
                <p>TEL :000 000 00 00</p>
            </li>
        </ul>
    </li>
</ul>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21.733556173548447!2d-135.00095927647064!3d84.99998097693674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4f9344da9515b951%3A0x4518d0c4d5c68876!2sNorth%20Pole!5e0!3m2!1str!2str!4v1701455216294!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



