

<div class="row">
    <div class="col-8 offset-2" style="padding-top:50px">

        <div align="center"><h2>HİKAYEMİZ</h2> </div>
        <div class="card mb-2">
            <img src="/images/Download Christmas background with winter snow for free.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div align="center"><h3 class="card-title">WOW MAGİCAL</h3></div>
                <p class="card-text">
                    <h4>Hikaye o ki zamanın birinde Kuki adında bir Sincap ve Monti adında bir Kutup Ayısı varmış.</h4>
                    <h4>Birinin çok büyük diğerininde  çok küçük olması  birbirlerini sevmelerine engel değilmiş.</h4>
                    <div class="card mb-5">
                        <img src="/images/20231203_084438_0000.png" class="card-img-top" alt="...">
                    </div>
                    <h4>Ama bir sorun varmış birbirlerine aldıkları  hediyeleri asla beğenmiyorlarmış.</h4>
                    <h4>Kutup  ayısı Monti'nin canı buna çok sıkılıyormuş</h4>
                    <div class="card mb-5">
                        <img src="/images/Screenshot_20231211_221405_Pinterest.jpg" class="card-img-top" alt="...">
                    </div>
                    <h4>Kutup ayısı Monti arkadaşı Kiraz kuşu ile  dertleşmiş!!! </h4>
                    <div class="card mb-5">
                        <img src="/images/indir (3).jpg" class="card-img-top" alt="...">
                    </div>
                    <h4>Hatta onun tavsiyesi üzerine yıldızları toplayıp götürmüş ama nafile Sincap Kuki beğenmemiş.</h4>
                    <div class="card mb-5">
                        <img src="/images/Screenshot_20231211_221359_Pinterest.jpg" class="card-img-top" alt="...">
                    </div>

                    <h4>Nihayet bu sorunu Sincap Kuki çözmüş  birgün kutup sitelerinde gezerken <a asp-controller="Home" asp-action="Index">WowMagical</a> sitesini bulan Sincap Kuki tamda Kutup Ayısı Monti'nin sevebileceği bir hediye bulmuş. O gün lapalapa kar yağarken Sincap Kuki Kutup Ayısına hediyesini vermiş.</h4>
                    <h4>Kutup Ayısı Monti böylesi büyülü bir hediye aldığı için şaşkınmış ve çok mutlu olmuş.</h4>
                    <div class="card mb-5">
                        <img src="/images/Snow_gif.gif" class="card-img-top" alt="...">
                    </div>

                    <h4>
                        Artık o günden sonra hep birbirlerine <a asp-controller="Home" asp-action="Index">WowMagical</a>
                        sitesinden  hediye almışlar Ve mutluluk içinde yaşamlarını sürdürmüşler.
                    </h4>
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<center>

    <div class="ms-3 me-3">
        <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Ana Sayfa</a>
    </div>
</center>
